<div class="container pt-5 mt-3">
  <%= render 'shared/back-to-home' %>
  <h2>Editer votre commentaire</h2>
  <div class="form-edit mb-5">
      <%= simple_form_for @comment do |f| %>
          <%= f.input :content,as: :text, class: "w-100", :input_html => {:style => 'width: 100%', :rows => 5, class: 'response-project'} %>
          <%= f.button :submit, "Enregister les modifications !", class: "btn btn-primary" %>
      <% end %>
    </div>
</div>
